[Desktop Entry]
Type=Application
Name=EduXal
GenericName=School Management
Comment=School management, simplified.
Exec=eduxal
Icon=com.example.eduxal
Categories=Education;Office;ProjectManagement;
Keywords=school;education;management;students;teachers;exams;
Terminal=false
StartupWMClass=com.example.eduxal
StartupNotify=true
MimeType=
